 html {
       
        background-color: black;
      }
body{
          background-image: url('home_bg.jpg');
          background-repeat: no-repeat;
          background-attachment:fixed;
         
    }

.well
{
    background: rgba(0,0,0,0.7);
    border: none;

}
.wellfix
{
    background: rgba(0,0,0,0.7);
    border: none;
    height: 150px;
}

p
{
    font-size: 20px;
}
 
div{
    box-sizing: content-box;
    box-align:center;
}

